* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--text: #e7e7e0;
	--transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body {
	background-color: #010101;
	font-family: raleway_f, sans-serif;
	line-height: 1.55;
}
.main-header {
	position: relative;
}
.main-header::after {
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index) * 8);
	background-image: url(../img/ground1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -4.5);
}
.layers {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.layer {
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	will-change: transform;
	z-index: 2;
	transition: var(--transition);
}
.layers__base {
	transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
	z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}
.layers__front {
	transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
}
.layer__header {
	z-index: 1;
	transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
	transition: var(--transition);
	will-change: transform;
	text-transform: uppercase;
	font-weight: 900;
	color: var(--text);
	text-shadow: 0 0 15px #9d822b;
}
.layers__title {
	font-size: calc(var(--index));
	letter-spacing: calc(var(--index) / 2.25);
}
.layers__caption {
	font-size: calc(var(--index) * 2.25);
	letter-spacing: calc(var(--index) / 3.5);
	margin-top: calc(var(--index) * -8);
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop) / -7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	color: var(--text);
	display: flex;
	justify-content: center;
	position: relative;
	text-align: center;
	/* Update: */
	top: -1px;
	z-index: 10;
}
.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 1.8);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * .9);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	transition: var(--transition);
	will-change: transform;
}
.content {
	will-change: transform;
}
.copy {
	position: absolute;
	bottom: calc(var(--index) * 2.5);
	opacity: .45;
	font-size: calc(var(--index) * .75);
	letter-spacing: calc(var(--index) / 37.5);
}




/*Я*/

  /* HEADER */
  
  .header{
	color: white;
	padding: 260px 0 20px 0;
  }
  
  .header-logo{
	margin: 0 auto;
	width: 420px;
	height: 105px;
  }
  
  
  
  
  .logo small{
	color: #5E19D6;
	font-size: 48px; 
	font-weight: 800;
	font-size: 0;
	animation: ani 1.5s forwards;
  }
  
  @keyframes ani {
	0% {font-size: 15;}
	100% {font-size: 48px;}
	0% {opacity: 0.2;}
	100% {opacity: 1;}
  }
  
  
  
  
  
  
  
  .logo strong {
	color: white;
	font-size: 96px; 
	font-weight: 800;
  }
  
  .header-menu{
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
	font-size: calc(var(--index)); 
	font-weight: 700;
	margin: 0 auto;
	width: 1600px;
	list-style-type: none ; 
  }
  
  .header-menu_link{
	font-family: 'Montserrat', sans-serif;
	color: white;
  }
  
  .header-menu_link strong{
	font-size: 25px; 
  }
  

  
  
  /* Стили эффектов*/
  
  .header-menu_item a {
	display: inline-block;
	color: white;
	line-height: 1;
	text-decoration: none;
	cursor: pointer;
	position: relative;
  }
  .header-menu_item a:after {
	display: block;
	content: "";
	background-color: white;
	height: 1px;
	width: 0%;
	left: 50%;
	position: absolute;
	-webkit-transition: width .3s ease-in-out;
	-moz--transition: width .3s ease-in-out;
	transition: width .3s ease-in-out;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
  }
  .header-menu_item a:hover:after,
  .header-menu_item a:focus:after {
	width: 100%;
  }
  
  
  
  
  .header-menu_img, .logo, .project_button, .footer_img_3, .footer_img_2{
	filter: blur(0); /* Размытие изображения */
	transition: 0.6s; /* Время перехода */
  }
  .header-menu_img:hover, .logo:hover, .project_button:hover, .footer_img_3:hover, .footer_img_2:hover{
	filter: blur(1.5px); /* Отменяем размытие */
  }



/*Регистрация*/

.form-control{
	font-family: 'Montserrat', sans-serif;
	color: rgb(0, 0, 0);
	border: 0;
	border-radius: 5px;
	background: #f7f7f7;
	padding: 8px 16px;
	font-size: 16px;
  }
  .btn-success{
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: 0;
	border-radius: 5px;
	background: #5e19d6;
	padding: 8px 16px;
	font-size: 16px;
	cursor: pointer;
  }
  
  
  .reg-menu{
	display: flex;
	flex-direction: column;
	align-items: center;
	column-gap: 30px;
	row-gap: 50px;
	flex-wrap: wrap;
	font-size: 16px; 
	font-weight: 700;
	margin: 0 auto;
	width: 1170px;
  }
  .modal-menu{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	column-gap: 30px;
	row-gap: 50px;
	flex-wrap: wrap;
	font-size: 16px; 
	font-weight: 700;
	margin: 0 auto;
  }
  
  .reg{
	display: flex;
	flex-direction: column;
	align-items: center;
	column-gap: 30px;
	row-gap: 30px;
	flex-wrap: wrap;
	font-size: 16px; 
	font-weight: 700;
	margin: 0 auto;
  }
  
  
  
  .btn-success-1{
	font-family: 'Montserrat', sans-serif;
	color: white;
	border: 0;
	border-radius: 5px;
	background: #5e19d6;
	padding: 8px 16px;
	font-size: 16px;
  }
  
  .section-reg{
	margin: 0 auto;
	padding: 130px 0 455px 0;
	width: 1170px;
  }
  
  
  
  
  
  /*модальное окно*/
  
  
  .modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	z-index: -1;
	opacity: 0;
	transition: all 0.09s ease-in-out;
  
  }
  
  .modal-title{
	margin-bottom: 60px;
	font-size: 48px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-align: center;
  }
  
  .modal-title-1{
	margin-top: 20px;
	font-size: 24px;
	font-weight: 500;
	color: rgb(255, 255, 255);
	text-align: center;
	cursor: pointer;
  }
  
  .modal.show{
	visibility: visible;
	z-index: 100;
	opacity: 1;
  }
  
  
  .overlay, .modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0.7;
  }
  
  .modal-window{
	position: relative;
	z-index: 2;
	width: 550px;
	border-radius: 20px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
	background-color: #ffffff;
	padding: 30px;
	margin-top: -40px;
	transition: inherit;
  
	background: transparent;
	backdrop-filter: blur(20px);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  
  
  }
  
  .modal.show .modal-window{
	margin-top: 0;
  }
  
  
  
  .btn-close{
	position: absolute;
	right: 20px;
	top: 20px;
	border: none;
	background: none;
	opacity: 0.7;
	color: rgb(255, 255, 255);
	cursor: pointer;
	font-size: calc(var(--index) -10px); 
  }
  
  .btn-close:hover{
	opacity: 1;
  }

  .header-menu_link{
	font-family: 'Montserrat', sans-serif;
	color: white;
	text-decoration: none
  }
  
  .header-menu_link strong{
	font-size: 25px; 
  }